extends layout/main.pug

block variables
  - var activePage = 'empleados'
  - var title = 'Empleados - ERP'

block content

          h2.mb-4 Gestión de Empleados

          .row
            .col-md-4
              .card.shadow.border-0
                .card-header.bg-white.fw-bold
                  | Agregar Empleado
                .card-body
                  form(action="/empleados/add", method="POST")
                    .mb-3
                      label.form-label Nombre
                      input.form-control(type="text", name="nombre", required)
                    .mb-3
                      label.form-label Puesto
                      input.form-control(type="text", name="puesto", required)
                    .mb-3
                      label.form-label Salario ($)
                      input.form-control(type="number", step="0.01", name="salario", required)
                    button.btn.btn-primary.w-100(type="submit") Añadir

            .col-md-8
              .card.shadow.border-0
                .card-body
                  h5.mb-3 Lista de Empleados
                  table.table.table-hover
                    thead.table-light
                      tr
                        th ID
                        th Nombre
                        th Puesto
                        th Salario
                    tbody
                      if empleados && empleados.length > 0
                        each emp in empleados
                          tr
                            td #{emp.id}
                            td #{emp.nombre}
                            td #{emp.puesto}
                            td $#{emp.salario}
                      else
                        tr
                          td(colspan="4").text-center.text-muted No hay empleados registrados
