doctype html
html(lang="es")
  head
    title Login ERP
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body(style="background-color: var(--color-bg);")

    .container.d-flex.justify-content-center.align-items-center.min-vh-100
      .card.shadow-lg.login-card.bg-white(style="width:380px")
        .card-body.p-4
          .text-center.mb-4
            i.fa-solid.fa-chart-pie(style="color: var(--color-dark-teal); font-size: 3rem;").mb-2
            h3.fw-bold(style="color: var(--color-dark-teal);") Mini ERP
            p.text-muted.small Ingresa tus credenciales

          if error
            .alert.alert-danger.text-center.small #{error}

          form(method="POST", action="/")
            .mb-3
              label.form-label.text-muted.small Usuario
              .input-group
                span.input-group-text.bg-light.border-end-0
                  i.fa-solid.fa-user.text-muted
                input.form-control.border-start-0.bg-light(type="text", name="usuario", required)

            .mb-3
              label.form-label.text-muted.small Contraseña
              .input-group
                span.input-group-text.bg-light.border-end-0
                  i.fa-solid.fa-lock.text-muted
                input.form-control.border-start-0.bg-light(type="password", name="password", required)

            button.btn.btn-primary-custom.w-100.mt-3(type="submit") 
              | Entrar
              i.fa-solid.fa-arrow-right.ms-2